* {
  box-sizing: border-box;
}  

a:visited {
  color: orange;
}

.pic-strip {
  width: 150px;
  height: 100px;
  position: relative;
  margin: 0 auto;
}

.photo img {
  position: absolute;
  opacity: 0;
  z-index: 0;
  transition: opacity .6s;
}

#photo1,
#photo1 img {
  z-index: 1;
  opacity: 1;
}

div:target,
div:target img {
  opacity: 1;
  z-index: 1;
}

div:target [id^="button-photo"] {
  background: #000;
}

[id^="button-photo"] {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  top: 110px;
}

#button-photo1 {
  left: 35px;
}

#button-photo2 {
  left: 65px;
}

#button-photo3 {
  left: 95px;
}
